network_group_example:
  credentials:
    - version: "1"
      community: public
    - version: "2c"
      community: public
    - version: "3"
      v3_credential:
        - username: elastiflow
          authentication_protocol: sha
          authentication_passphrase: efauthpassword
          privacy_protocol: des
          privacy_passphrase: efprivpassword
  port: 161
  poll_interval: 60
  timeout: 2000
  retries: 2
  exponential_timeout: false
  networks:
    - 10.0.0.0/24
    - 10.0.1.0/24